<div style="margin:1rem">
  <table>
    <tr>
      <td><span>{{stockOptionDatum.symbol}}</span></td>
      <td><span>{{stockOptionDatum.description}}</span></td>
      <td><span>Days to exp: {{stockOptionDatum.daysToExpiration}}</span></td>
      <td><span>Exp: {{stockOptionDatum.expiration}}</span></td>
      <td><span>Strike: {{stockOptionDatum.strike}}</span></td>
      <td><span>Last: {{stockOptionDatum.last}}</span></td>
      <td><span>Bid: {{stockOptionDatum.bid}}</span></td>
      <td><span>Ask: {{stockOptionDatum.ask}}</span></td>
      <td><span>Volume: {{stockOptionDatum.volume}}</span></td>
      <td><span>IV: {{stockOptionDatum.iv}}</span></td>
      <td><span>Delta: {{stockOptionDatum.delta}}</span></td>
      <td><span>Gamma: {{stockOptionDatum.gamma}}</span></td>
      <td><span>Theta: {{stockOptionDatum.theta}}</span></td>
      <td><span>Vega: {{stockOptionDatum.vega}}</span></td>
    </tr>
  </table>
</div>


