<div *ngFor="let position of getSortedPositions(); let i = index" style="margin-bottom: 1rem">
  <div class="row" [class.top-line]="i != 0">
    <div class="col-xs-1">
      <div>Symbol</div>
      <input type="text" class="form-control" id="symbol" autofocus [(ngModel)]="position.symbol">
    </div>
    <div class="col-xs-1">
      <div>Entry Action</div>
      <select class="form-control" [ngModel]="position.entryAction" (ngModelChange)="actionChange($event, position)">
        <option>BTO</option>
        <option>STO</option>
      </select>
    </div>
    <div class="col-xs-1">
      <div>Action date</div>
      <input type="text" class="form-control" id="date" [(ngModel)]="position.actionDate">
    </div>
    <!--<div class="col-xs-1">-->
      <!--<div>Days to exp</div>-->
      <!--<input type="text" class="form-control" id="days" [(ngModel)]="position.daysToExpiration">-->
    <!--</div>-->
    <div class="col-xs-1">
      <div>Expiration</div>
      <input type="text" class="form-control" id="expiration" [(ngModel)]="position.expiration">
    </div>
    <div class="col-xs-1">
      <div>Strike</div>
      <input type="text" class="form-control" id="strike" [(ngModel)]="position.strike">
    </div>
    <div class="col-xs-1">
      <div>Type</div>
      <select class="form-control" [ngModel]="position.type" (ngModelChange)="typeChange($event, position)">
        <option>CALL</option>
        <option>PUT</option>
      </select>
    </div>
    <div class="col-xs-1">
      <div>Price</div>
      <input type="text" class="form-control" id="price" [(ngModel)]="position.price">
    </div>
    <div class="col-xs-1">
      <div>Delta</div>
      <input type="text" class="form-control" id="delta" [(ngModel)]="position.entryDelta">
    </div>
    <div class="col-xs-1">
      <div>Contracts</div>
      <input type="text" class="form-control" id="contracts" [(ngModel)]="position.numContracts">
    </div>
    <div class="col-xs-1">
      <div>Commision</div>
      <input type="text" class="form-control" id="commision" [(ngModel)]="position.commission">
    </div>
    <div class="col-xs-1">
      <div style="margin-top: 20px">
        <button class="btn btn-default" [class.disabled]="showClose[position.id]" (click)="closeClicked(position)"><span>Close</span></button>
      </div>
    </div>
    <div class="col-xs-2">
    </div>
  </div>

  <div class="row" *ngIf="showClose[position.id]" style="margin-top: 1rem">
    <div class="col-xs-1">
      <div>Closing Action</div>
      <select class="form-control" [ngModel]="position.closingAction" (ngModelChange)="closingActionChange($event, position)">
      <option>BTC</option>
      <option>STC</option>
      </select>
    </div>
    <div class="col-xs-1">
      <div>Closing Price</div>
      <input type="text" class="form-control" id="closingPrice" [(ngModel)]="position.closingPrice">
    </div>
    <div class="col-xs-1">
      <div>Closing Date</div>
      <input type="text" class="form-control" id="closingDate" [(ngModel)]="position.closingDate">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10">
  </div>
  <div class="col-xs-2">
    <div style="margin-top: 20px" class="pull-right">
      <button class="btn btn-default" style="margin-right:1rem;" (click)="cancelClicked()"><span>Cancel</span></button>
      <button class="btn btn-default" (click)="saveClicked()"><span>Save</span></button>
    </div>
  </div>
</div>
