<div class="row" style="margin: 0px; padding: 1rem; margin-bottom: 1px; /*mborder-style: solid; border-width: 1px */" (click)="position.selected = !position?.selected" [class.selected]="position?.selected" [class.highlight]="!position?.selected">
  <div class="center col-xs-1"><span>{{position.entryAction}}</span></div>
  <div class="center col-xs-1"><span>{{position.actionDate}}</span></div>
  <div class="center col-xs-1"><span>{{position.expiration}}</span></div>
  <div class="center col-xs-1"><span>{{position.strike}}</span></div>
  <div class="center col-xs-1"><span>{{position.type}}</span></div>
  <div class="center col-xs-1"><span>{{position.price | currency:'USD':true:'1.2-2'}}</span></div>
  <div class="center col-xs-1"><span>{{position.entryDelta}}</span></div>
  <div class="center col-xs-1"><span>{{position.numContracts}}</span></div>
  <div class="center col-xs-1"><span>{{position.commission}}</span></div>
  <div class="center col-xs-1"><span>{{position.closingDate}}</span></div>
  <div class="center col-xs-1"><span>{{position.closingPrice}}</span></div>
  <div class="pull-right">
    <span class="glyphicon glyphicon-edit" style="margin-right: 1rem" (click)="edit()"></span>
    <span class="glyphicon glyphicon-remove" (click)="delete()"></span>
  </div>
</div>
