<div>
  <table>
    <tr>
      <td><span>ID: {{stockDatum.id}}</span></td>
      <td><span>{{stockDatum.symbol}}</span></td>
      <td><span>{{stockDatum.date}}</span></td>
      <td><span>{{stockDatum.description}}</span></td>
      <td><span>Last: {{stockDatum.last}}</span></td>
      <td><span>Close: {{stockDatum.close}}</span></td>
      <td><span>Open: {{stockDatum.open}}</span></td>
      <td><span>High: {{stockDatum.high}}</span></td>
      <td><span>Low: {{stockDatum.low}}</span></td>
      <td><span>Bid: {{stockDatum.bid}}</span></td>
      <td><span>Ask: {{stockDatum.ask}}</span></td>
      <td><span>Volume: {{stockDatum.volume}}</span></td>
      <td><span>Percent Change: {{stockDatum.percentChange}}</span></td>
      <td><span>IVR: {{stockDatum.ivr}}</span></td>
      <td><span>IV: {{stockDatum.iv}}</span></td>
      <!--<td><span>{{stockDatum.created_at}}</span></td>-->
      <!--<td><span>{{stockDatum.updated_at}}</span></td>-->
    </tr>
  </table>
</div>
